/* Elimina márgenes, rellenos y bordes de todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

html {
  color-scheme: dark light;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #333;
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
}

/* Asegura que los elementos de bloque ocupen el ancho completo disponible */

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

/* Estilo básico para los encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* Elimina el subrayado de enlaces */
a {
  color: inherit;
  text-decoration: none;
}

/* Restablece el estilo de las listas */
ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}
