.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1.5rem 2rem;
  text-align: center;
}

.container h1 {
  color: #006851;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: no-wrap;
}

.buttons button span {
  font-weight: 600;
}

.results {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.results h3 {
  font-weight: 600;
}

.results h2 {
  color: #006851;
  font-size: 1.25rem;
  font-weight: 700;
}
